/* .game h2 {
  padding-left: 10%;
  margin-top: 80px;
} */
.game-container {
  display: grid;
  grid-template-columns: 1fr 250px;
}
.title {
  padding-left: 10%;
  margin-top: 80px;
}
.athlete-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.side-container {
  background-color: #fcc60175;
  padding-left: 20px;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 768px) {
  .athlete-container {
    grid-template-columns: 1fr;
  }
}
