.game-container {
  display: grid;
  grid-template-columns: 1fr 300px;
}
.title {
  padding-left: 10%;
  margin-top: 80px;
}
.athlete-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.blog-counter {
  padding-left: 10%;
  padding-right: 10%;
}
.side-container {
  background-color: #fcc60175;
}
@media screen and (max-width: 712px) {
  .athlete-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 713px) and (max-width: 1138px) {
  .athlete-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
